1 What are data structures, and why are they important?

Data structures are ways to organize and store data. They're important because they help programs run faster, use memory efficiently, and solve problems more easily.
Like choosing the right tool for a job—hammer for nails, wrench for bolts—using the right data structure makes everything smoother. Want a lightning-fast example next? ⚡

2 Explain the difference between mutable and immutable data types with examples?

Mutable Data Types
These can be modified—you can change, add, or remove elements without creating a new object.
 Immutable Data Types
These cannot be changed once created—any “change” creates a new object.

 1 Mutability
- List:  Mutable — You can change, add, or remove items.
- Tuple:  Immutable — Once created, it cannot be changed.

Performance
- List: Slightly slower due to flexibility.
- Tuple: Faster in operations — better for read-only data.

Syntax
- List: Uses square brackets → my_list = [1, 2, 3]
- Tuple: Uses parentheses → my_tuple = (1, 2, 3)

Safety
- List: Risk of accidental modification.
- Tuple: Safer for fixed data — ideal when values shouldn't change.

4 Describe how dictionaries store data

Dictionaries are powerful data structures used in many programming languages like Python, Java, and C# to store data in a way that's both efficient and intuitive. Here's how they work under the hood:

- Example: {"name": "Arjun", "age": 25}

5  Why might you use a set instead of a list in Python?

A set in Python has some unique characteristics that make it the better choice over a list in certain situations.

6 What is a string in Python, and how is it different from a list?

A string is a sequence of Unicode characters used to represent text.
- You define it with quotes: 'hello' or "hello"
- It's immutable: once created, you can’t change the characters directly.
- Supports operations like concatenation, slicing, and formatting:

A list is a sequence of objects—and those can be anything: numbers, strings, even other lists.
- Defined with square brackets: [1, 2, 3] or ['apple', 'banana']
- It’s mutable: you can change, add, or remove elements after creation.
- Great for collections that might change or contain mixed types:

7 How do tuples ensure data integrity in Python?

- Tuple: An immutable, ordered collection of items.
-  Data Integrity: Because tuples can't be changed after creation, they prevent accidental modifications—perfect for storing fixed data.
-  Uses: Ideal for constants, safe dictionary keys, and keeping data secure across functions.

 8 What is a hash table, and how does it relate to dictionaries in Python?

- It uses a hash function to convert a key (like "name") into a numerical index.
- That index determines where the data is stored in memory.
- It allows fast access, insertion, and deletion of values by key.
- Python’s dict is built on hash table mechanics.

9 Can lists contain different data types in Python?

In Python, lists are versatile containers that can hold elements of mixed data types in a single sequence.
This list includes:
- A string ("Jagadhri")
- An integer (2025)
- A float (3.14)
- A boolean (True)
- Another list ([1, 2, 3])

 10 Explain why strings are immutable in Python?

1. Data Safety
- Immutability prevents accidental changes, which keeps the data consistent across your program.

2. Performance Boost
- Python uses string interning (stores common strings only once).
This saves memory and makes operations like comparisons faster.

3. Hashable for Dictionaries and Sets
- You can use strings as dictionary keys or set elements because their hash value won’t change.

11 What advantages do dictionaries offer over lists for certain tasks?

-  They prevent accidental changes to text.
-  They enable optimizations like string interning.
-  They’re hashable—great for use as dictionary keys.
-  All string operations return new strings, not altered ones.
It’s all about safety, performance, and clean code design! Want to see how that compares to mutable types like lists or bytearrays?

12 Describe a scenario where using a tuple would be preferable over a list?

- The data should not change.
- You need faster performance.
- You're storing values as dictionary keys.

13 How do sets handle duplicate values in Python?

- Duplicates are automatically removed.
- Adding the same item again? Python ignores it.
- Ideal for cleaning up messy, repeated data.

14 How does the “in” keyword work differently for lists and dictionaries?

- In a list → checks if a value exists.
- In a dictionary → checks if a key exists (not the value).
Lists = slow linear search
 Dicts = fast hash lookup

15 Can you modify the elements of a tuple? Explain why or why not?

- Tuples are immutable, meaning their content is fixed once created.
- This ensures data integrity and allows them to be used as dictionary keys or in sets.

 16 What is a nested dictionary, and give an example of its use case?

Nested Dictionary = Dictionary inside a dictionary
- Great for storing structured data (like student info or product details).
- Lets you organize info hierarchically.

17 Describe the time complexity of accessing elements in a dictionary?

Accessing elements in a Python dictionary is O(1) — constant time.
- Thanks to hashing, Python can jump straight to the value using the key.
- Doesn't matter how big the dictionary is—lookup stays fast.

18 In what situations are lists preferred over dictionaries?

Use lists over dictionaries when:
- Order matters — lists keep item sequence.
- You need indexed access — like items[0].
- The data doesn’t need labels — just values in a row.
- Simpler structure — perfect for looping and storing collections.

19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries = traditionally unordered
- Before Python 3.7, key order wasn’t preserved.
- Since Python 3.7+, insertion order is maintained.
- Retrieval is still by key, not position.

 20 Explain the difference between a list and a dictionary in terms of data retrieval.?

- List → Retrieve by index (position-based)
Example: my_list[0]
- Dictionary → Retrieve by key (name-based)
Example: my_dict['name']

PRACTICAL QUESTIONS

1 Write a code to create a string with your name and print it?

In [ ]:
name=("Peehul jain")
print(name)

Peehul jain

 2 Write a code to find the length of the string "Hello World"?

In [ ]:
a=("Hello world")
len(a)

11

3 Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
a=("Python Programming")
a[:3]

'Pyt'

 4 Write a code to convert the string "hello" to uppercase?

In [ ]:
a=("Hello")
a.upper()

'HELLO'

 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
fruit=("apple")
fruit.replace("apple","orange")

'orange'

6 Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
a=[1,2,3]
a.append(10)
print(a)

[1, 2, 3, 10]

8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
a=['a,', 'b', 'c', 'd']
a[1]

'b'

 10 Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
a=[10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

11 Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
a=(100,200,300)
print(a)

(100, 200, 300)

12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [ ]:
a=('red','green','blue','yellow')
a[-2]

'blue'

 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [ ]:
a=(10,20,5,15)
b=min(a)
print(b)

5

 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
a=('dog','cat','rabbit')
a.index('cat')

1

15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [ ]:
a=('apple','banana,','kiwi')
"kiwi" in (a)

True

16 Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [ ]:
a={'a','b','c'}
print(a)

{'b', 'a', 'c'}

17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [ ]:
a={1,2,3,4,5}
a.clear()
print(a)

set()

18 Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [ ]:
a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [ ]:
a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [ ]:
a={1,2,3}
b={2,3,4}
a.intersection(b)

{2, 3}

 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [ ]:
a={"name":"Peehul",
  "age":21,
  "city":"Mumbai"}
print(a)

{'name': 'Peehul', 'age': 21, 'city': 'Mumbai'}

22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [ ]:
a={'name': 'John', 'age': 25}
a["country"]="USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [ ]:
a={'name': 'Alice', 'age': 30}
a["name"]

'Alice'

24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [ ]:
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
print(a)

{'name': 'Bob', 'city': 'New York'}

25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [ ]:
a={'name': 'Alice', 'city': 'Paris'}
"city" in a

True

 26 Write a code to create a list, a tuple, and a dictionary, and print them all?

In [ ]:
a=[1,2,3]
print(a)
b=(1,2,3)
print(b)
c={"name":"Peehul",
  "age":21,
  "city":"Mumbai"}
print(c)

[1, 2, 3]
(1, 2, 3)
{'name': 'Peehul', 'age': 21, 'city': 'Mumbai'}

27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

In [ ]:
a=[1,7,5,4,9]
a.sort()
print(a)

[1, 4, 5, 7, 9]

28 Write a code to create a list with strings and print the element at the third index?

In [ ]:
a=["Peehul","Priyam","Piyush"]
a[2]

'Piyush'

29 Write a code to combine two dictionaries into one and print the result.?

In [ ]:
a = {'a': 1, 'b': 2}
b = {'c': 3, 'd': 4}
c = {**a, **b}
print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30 Write a code to convert a list of strings into a set?

In [ ]:
a=["Peehul","Piyush","Priyam","Swati"]
b=set(a)
print(b)

{'Priyam', 'Swati', 'Piyush', 'Peehul'}